<!-- views/cv.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>
<body>
    <header>
        <h1 id="webname">John Li</h1>
        <nav>
            <a class="nav-link" href="../index.html">🏠 Home</a> |
            <a class="nav-link" href="cv.html">📄 Resume</a> |
            <a class="nav-link" href="contact.html">📞 Contact Me</a> |
            <a class="nav-link" href="fun.html">🎮 Interests</a>
        </nav>
          
    </header>
    <div class="main" >
        <h2>Curriculum Vitae</h2>
        <table border="1" style="width: 100%;">
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>My Resume</td>
                <td><a href="../static/John Li Resume.docx.pdf" target="_blank">Download Resume</a></td>
            </tr>
            <tr>
                <td>Row 2 Name</td>
                <td>Row 2 Description</td>
            </tr>
            <tr>
                <td>Row 3 Name</td>
                <td>Row 3 Description</td>
            </tr>
        </table>
        
    </div>
    <footer >
        &copy; 2025 designed 🛠️ and coded 👩‍💻 by John Li
    </footer>
</body>
</html>