<!-- views/fun.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Fun</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>
<body>
    <header>
        <h1 id="webname">John Li</h1>
        <nav>
            <a class="nav-link" href="../index.html">🏠 Home</a> |
            <a class="nav-link" href="cv.html">📄 Resume</a> |
            <a class="nav-link" href="contact.html">📞 Contact Me</a> |
            <a class="nav-link" href="fun.html">🎮 Interests</a>
        </nav>
    </header>
    <div class="main">
        <h2>Things I Love to Do for Fun</h2>
        <ul >
            <li>Gaming</li>
            <li>Reading</li>
            <li>Music</li>
            <li>Badminton</li>
        </ul>
    </div>
    <footer >
        &copy; 2025 designed 🛠️ and coded 👩‍💻 by John Li
    </footer>
</body>
</html>