* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 5px;
    margin: 5px;
    #webname {
        color: #756bf8;
    }
    
    .nav-link {
        text-decoration: none;          /* Removes underline from links */
        color: #3b91f3;                 /* Bright blue for visual appeal */
        margin-right: 15px;             /* Provides spacing between links */
        font-weight: bold;              /* Makes navigation links more prominent */
        transition: color 0.3s ease;    /* Smooth transition effect on hover */
    }
    
    .nav-link:hover {
        color: #122a42;                 /* Darker color on hover for better interactivity */
        transform: scale(1.1);          /* Slight scale-up on hover for playful effect */
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #7f96ff;  /* replace with your choice */
        color: #ffffff;             /* replace with your choice */
        width: fit-content;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;  /* zebra stripes for even rows */
    }
    form * {
        display: block;
        margin: auto;
        text-align: center;
    }
    form input[type="submit"] {
        background-color: rgb(143, 158, 240);
        border: none;
        border-radius: 8px;
    }
        
}

#funList {
    display: none;
    margin-top: 10px;
}

#showButton {
    background-color: #110985;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: painter;
    font-size: 16px;

}

#showButton:hover {
    background-color: #5c5a86;
}


#readMoreBtn, #readLessBtn {
    background-color: #151041; 
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}


#readMoreBtn:hover, #readLessBtn:hover {
    background-color: #6aa7e7;
}


#fullBio {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}


.error-message {
    color: rgb(141, 16, 16);
    font-size: 14px;
    margin-top: 5px;
    display: block;
}


input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #007BFF; /* Blue */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}